In [59]:
from sqlalchemy import create_engine

In [60]:
import pandas as pd

In [61]:
df = pd.read_csv('taxi+_zone_lookup.csv', nrows=100)

In [62]:
df.head(n=0)

Empty DataFrame
Columns: [LocationID, Borough, Zone, service_zone]
Index: []

In [63]:
df.head(n=0).to_sql(name='taxi_zone_lookup',con=engine,if_exists='replace')

0

In [64]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [65]:
print(pd.io.sql.get_schema(df,name='taxi+_zone_lookup.csv',con=engine))

CREATE TABLE "taxi+_zone_lookup.csv" (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [66]:
%timeit df.to_sql(name='taxi_zone_lookup',con=engine,if_exists='append')

12.5 ms ± 463 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [ ]:
df_green = pd.read_csv('green_tripdata_2019-09.csv.gz',nrows=100,compression='gzip')

In [ ]:
print(df_green.head(0))

In [2]:
import pandas as pd

In [3]:
from time import time

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [6]:
query1 = """
select * from green_tripdata_2019 limit 10
"""
pd.read_sql(query1, con=engine)

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,152096,2,2019-09-12 22:26:47,2019-09-12 22:36:06,N,1,95,134,1,1.77,...,0.50,0.5,2.45,0.0,None,0.3,12.25,1,1,0.00
1,152097,1,2019-09-12 22:26:31,2019-09-12 22:30:39,N,5,127,153,2,0.80,...,0.00,0.0,0.00,0.0,None,0.0,0.00,3,2,0.00
2,152098,1,2019-09-12 22:32:05,2019-09-12 22:32:25,N,5,153,153,2,0.80,...,0.00,0.0,0.00,0.0,None,0.0,16.00,1,2,0.00
3,152099,1,2019-09-12 22:46:50,2019-09-12 22:59:43,N,1,244,140,1,6.80,...,3.25,0.5,0.00,0.0,None,0.3,24.55,2,1,2.75
4,152100,2,2019-09-12 22:16:01,2019-09-12 22:35:52,N,1,25,68,1,4.72,...,0.50,0.5,4.00,0.0,None,0.3,26.05,1,1,2.75
5,152101,2,2019-09-12 22:48:54,2019-09-12 23:00:42,N,1,97,66,1,1.48,...,0.50,0.5,2.06,0.0,None,0.3,12.36,1,1,0.00
6,152102,2,2019-09-12 22:06:19,2019-09-12 22:10:20,N,1,80,256,1,0.74,...,0.50,0.5,1.16,0.0,None,0.3,6.96,1,1,0.00
7,152103,2,2019-09-12 22:28:17,2019-09-12 22:41:05,N,1,66,181,1,2.86,...,0.50,0.5,2.50,0.0,None,0.3,15.30,1,1,0.00
8,152104,2,2019-09-12 22:43:53,2019-09-12 22:48:21,N,1,189,25,1,0.98,...,0.50,0.5,2.04,0.0,None,0.3,8.84,1,1,0.00
9,152105,2,2019-09-12 22:49:51,2019-09-12 22:54:14,N,1,25,181,1,0.75,...,0.50,0.5,0.94,0.0,None,0.3,7.24,1,1,0.00

In [8]:
query1 = """
select * from taxi_zone_lookup where "Zone" ='Astoria' limit 10
"""
pd.read_sql(query1, con=engine)

   index  LocationID Borough     Zone service_zone
0      6           7  Queens  Astoria    Boro Zone
1      6           7  Queens  Astoria    Boro Zone
2      6           7  Queens  Astoria    Boro Zone
3      6           7  Queens  Astoria    Boro Zone
4      6           7  Queens  Astoria    Boro Zone
5      6           7  Queens  Astoria    Boro Zone
6      6           7  Queens  Astoria    Boro Zone
7      6           7  Queens  Astoria    Boro Zone
8      6           7  Queens  Astoria    Boro Zone
9      6           7  Queens  Astoria    Boro Zone

In [26]:
query = """
select zone2."Zone",sum(tip_amount) from green_tripdata_2019 trip
join taxi_zone_lookup zone2 on trip."DOLocationID" =zone2."LocationID"
where "PULocationID" =7 and substring(lpep_pickup_datetime,0,8) ='2019-09'
group by zone2."Zone" order by sum(tip_amount) desc limit 20
"""
pd.read_sql(query, con=engine)

                            Zone         sum
0                        Astoria  1311865.49
1       Financial District South   106265.33
2                   Forest Hills    88423.33
3                       Elmhurst    83484.34
4                   Clinton East    77053.11
5              East Harlem South    68651.15
6                   East Village    51952.66
7                   East Chelsea    48660.00
8               Garment District    47524.60
9              East Harlem North    44694.21
10             East Williamsburg    41028.49
11                  Central Park    36121.94
12                  Clinton West    35343.38
13                      Flatiron    31045.08
14                Bushwick South    30663.91
15  Flushing Meadows-Corona Park    30071.88
16      Financial District North    29479.85
17                 East Elmhurst    29139.23
18              Elmhurst/Maspeth    26341.28
19           Crown Heights North    23210.82

In [21]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz',iterator=True,compression='gzip',chunksize=100000)

In [22]:
df_green = next(df_iter)

In [23]:
df_green.head(n=0).to_sql(name='green_tripdata_2019',con=engine,if_exists='replace')

0

In [24]:
while True:
    t_start = time()  
    df_green = next(df_iter)
    df_green.lpep_pickup_datetime = pd.to_datetime(df_green.lpep_pickup_datetime)
    df_green.lpep_dropoff_datetime= pd.to_datetime(df_green.lpep_dropoff_datetime)
    df_green.to_sql(name='green_tripdata_2019',con=engine,if_exists='append')    
    t_end = time()
    print('inserted another chunk, took %.3f second' %(t_end-t_start))

inserted another chunk, took 10.249 second
inserted another chunk, took 10.280 second

/tmp/ipykernel_92422/2928693640.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green = next(df_iter)

inserted another chunk, took 10.499 second
inserted another chunk, took 4.475 second

StopIteration: