In [1]:
from sqlalchemy import create_engine

In [2]:
import pandas as pd

In [3]:
from time import time

In [4]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [5]:
df = pd.read_csv('taxi+_zone_lookup.csv', nrows=100)

In [6]:
df.head(n=0)

Empty DataFrame
Columns: [LocationID, Borough, Zone, service_zone]
Index: []

In [7]:
df.head(n=0).to_sql(name='taxi_zone_lookup',con=engine,if_exists='replace')

0

In [8]:
print(pd.io.sql.get_schema(df,name='taxi+_zone_lookup.csv',con=engine))

CREATE TABLE "taxi+_zone_lookup.csv" (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [9]:
%timeit df.to_sql(name='taxi_zone_lookup',con=engine,if_exists='append')

13.1 ms ± 793 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [ ]:
df_green = pd.read_csv('green_tripdata_2019-09.csv.gz',nrows=100,compression='gzip')

In [ ]:
print(df_green.head(0))

In [12]:
df_green.head(n=0).to_sql(name='green_tripdata_2019',con=engine,if_exists='replace')

0

In [13]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz',iterator=True,compression='gzip',chunksize=100000)

In [14]:
while True:
    t_start = time()  
    df_green = next(df_iter)
    df_green.lpep_pickup_datetime = pd.to_datetime(df_green.lpep_pickup_datetime)
    df_green.lpep_dropoff_datetime= pd.to_datetime(df_green.lpep_dropoff_datetime)
    df_green.to_sql(name='green_tripdata_2019',con=engine,if_exists='append')    
    t_end = time()
    print('inserted another chunk, took %.3f second' %(t_end-t_start))

inserted another chunk, took 11.001 second
inserted another chunk, took 10.626 second
inserted another chunk, took 11.078 second

/tmp/ipykernel_29950/2928693640.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green = next(df_iter)

inserted another chunk, took 11.097 second
inserted another chunk, took 4.779 second

StopIteration:

In [16]:
query1 = """
select count(1) from green_tripdata_2019 limit 10
"""
pd.read_sql(query1, con=engine)

    count
0  449063

In [17]:
query1 = """
select * from taxi_zone_lookup where "Zone" ='Astoria' limit 10
"""
pd.read_sql(query1, con=engine)

   index  LocationID Borough     Zone service_zone
0      6           7  Queens  Astoria    Boro Zone
1      6           7  Queens  Astoria    Boro Zone
2      6           7  Queens  Astoria    Boro Zone
3      6           7  Queens  Astoria    Boro Zone
4      6           7  Queens  Astoria    Boro Zone
5      6           7  Queens  Astoria    Boro Zone
6      6           7  Queens  Astoria    Boro Zone
7      6           7  Queens  Astoria    Boro Zone
8      6           7  Queens  Astoria    Boro Zone
9      6           7  Queens  Astoria    Boro Zone

In [18]:
query = """
select zone2."Zone",sum(tip_amount) from green_tripdata_2019 trip
join taxi_zone_lookup zone2 on trip."DOLocationID" =zone2."LocationID"
where "PULocationID" =7 and substring(lpep_pickup_datetime,0,8) ='2019-09'
group by zone2."Zone" order by sum(tip_amount) desc limit 20
"""
pd.read_sql(query, con=engine)

                            Zone           sum
0                        Astoria  1.731777e+06
1       Financial District South  1.257537e+05
2                       Elmhurst  1.120964e+05
3                   Forest Hills  1.014155e+05
4                   East Village  8.659858e+04
5                   Clinton East  8.387362e+04
6              East Harlem South  8.007814e+04
7   Flushing Meadows-Corona Park  6.890256e+04
8                   East Chelsea  6.732111e+04
9              East Harlem North  5.604821e+04
10              Garment District  5.443432e+04
11                      Flatiron  5.426401e+04
12             East Williamsburg  5.168503e+04
13                  Central Park  4.697312e+04
14                Bushwick South  4.402919e+04
15              Elmhurst/Maspeth  4.136911e+04
16                 East Elmhurst  3.887123e+04
17                  Clinton West  3.534338e+04
18                Bushwick North  3.177498e+04
19      Financial District North  2.947985e+04