In [35]:
import pandas as pd

In [36]:
df = pd.read_csv('taxi+_zone_lookup.csv', nrows=100)

In [38]:
df_iter = pd.read_csv('taxi+_zone_lookup.csv',iterator = True,chunksize=100000)

In [39]:
df = next(df_iter)

In [40]:
len(df)

265

In [41]:
df.head(n=0)

Empty DataFrame
Columns: [LocationID, Borough, Zone, service_zone]
Index: []

In [ ]:
df.xxx = pd.to_datetime(df.xxx)

In [28]:
from sqlalchemy import create_engine

In [31]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [34]:
print(pd.io.sql.get_schema(df,name='taxi+_zone_lookup.csv',con=engine))

CREATE TABLE "taxi+_zone_lookup.csv" (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [42]:
df.head(n=0).to_sql(name='taxi_zone_lookup',con=engine,if_exists='replace')

0

In [43]:
%timeit df.to_sql(name='taxi_zone_lookup',con=engine,if_exists='append')

17 ms ± 591 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [ ]:
while True:
    t_start = time()
    df = next(df_iter)
    df.xxx = pd.to_datetime(df.xxx)
    df.to_sql(name='taxi_zone_lookup',con=engine,if_exists='append')
    t_end = time()
    print('inserted another chunk, took %.3f second' %(t_end-t_start))